@font-face {
  font-family: 'Gilroy';
  src: url('../../fonts/Gilroy-Semibold.eot');
  src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
  url('../../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../fonts/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
  url('../../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../fonts/Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
  url('../../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}