$main-color: #00B4E3;
$main-dark-color: #0099C1;
$text-color: #3B3D46;
$gray-color: #E6E6E6;
$blue-light-color: #F1F7F8;
$blue-light-bg-color: #F4F9F9;
$main-bg-color:#f5f5f4;
$shadow-color: #EAECEF;

// Screens
$desktopWidth:1200px;
$tabletWidth:768px;
$phoneWidth:320px;

//Breakpoints
$smDesktopWidth:1080px;