@font-face {
    font-family: 'Gilroy';
    src: url('egular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('egular.eot?#iefix') format('embedded-opentype'),
        url('egular.woff2') format('woff2'),
        url('egular.woff') format('woff'),
        url('egular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('xtraboldItalic.eot');
    src: local('Gilroy Extrabold Italic'), local('Gilroy-ExtraboldItalic'),
        url('xtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('xtraboldItalic.woff2') format('woff2'),
        url('xtraboldItalic.woff') format('woff'),
        url('xtraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('old.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('old.eot?#iefix') format('embedded-opentype'),
        url('old.woff2') format('woff2'),
        url('old.woff') format('woff'),
        url('old.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('lack.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
        url('lack.eot?#iefix') format('embedded-opentype'),
        url('lack.woff2') format('woff2'),
        url('lack.woff') format('woff'),
        url('lack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('ight.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('ight.eot?#iefix') format('embedded-opentype'),
        url('ight.woff2') format('woff2'),
        url('ight.woff') format('woff'),
        url('ight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('emibold.eot');
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('emibold.eot?#iefix') format('embedded-opentype'),
        url('emibold.woff2') format('woff2'),
        url('emibold.woff') format('woff'),
        url('emibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('edium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('edium.eot?#iefix') format('embedded-opentype'),
        url('edium.woff2') format('woff2'),
        url('edium.woff') format('woff'),
        url('edium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('ediumItalic.eot');
    src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
        url('ediumItalic.eot?#iefix') format('embedded-opentype'),
        url('ediumItalic.woff2') format('woff2'),
        url('ediumItalic.woff') format('woff'),
        url('ediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('lackItalic.eot');
    src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
        url('lackItalic.eot?#iefix') format('embedded-opentype'),
        url('lackItalic.woff2') format('woff2'),
        url('lackItalic.woff') format('woff'),
        url('lackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('ltraLight.eot');
    src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
        url('ltraLight.eot?#iefix') format('embedded-opentype'),
        url('ltraLight.woff2') format('woff2'),
        url('ltraLight.woff') format('woff'),
        url('ltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('egularItalic.eot');
    src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
        url('egularItalic.eot?#iefix') format('embedded-opentype'),
        url('egularItalic.woff2') format('woff2'),
        url('egularItalic.woff') format('woff'),
        url('egularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('emiboldItalic.eot');
    src: local('Gilroy Semibold Italic'), local('Gilroy-SemiboldItalic'),
        url('emiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('emiboldItalic.woff2') format('woff2'),
        url('emiboldItalic.woff') format('woff'),
        url('emiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('eavyItalic.eot');
    src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
        url('eavyItalic.eot?#iefix') format('embedded-opentype'),
        url('eavyItalic.woff2') format('woff2'),
        url('eavyItalic.woff') format('woff'),
        url('eavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('xtrabold.eot');
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
        url('xtrabold.eot?#iefix') format('embedded-opentype'),
        url('xtrabold.woff2') format('woff2'),
        url('xtrabold.woff') format('woff'),
        url('xtrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('oldItalic.eot');
    src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
        url('oldItalic.eot?#iefix') format('embedded-opentype'),
        url('oldItalic.woff2') format('woff2'),
        url('oldItalic.woff') format('woff'),
        url('oldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('ltraLightItalic.eot');
    src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
        url('ltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('ltraLightItalic.woff2') format('woff2'),
        url('ltraLightItalic.woff') format('woff'),
        url('ltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('ightItalic.eot');
    src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
        url('ightItalic.eot?#iefix') format('embedded-opentype'),
        url('ightItalic.woff2') format('woff2'),
        url('ightItalic.woff') format('woff'),
        url('ightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('eavy.eot');
    src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
        url('eavy.eot?#iefix') format('embedded-opentype'),
        url('eavy.woff2') format('woff2'),
        url('eavy.woff') format('woff'),
        url('eavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('hin.eot');
    src: local('Gilroy Thin'), local('Gilroy-Thin'),
        url('hin.eot?#iefix') format('embedded-opentype'),
        url('hin.woff2') format('woff2'),
        url('hin.woff') format('woff'),
        url('hin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('hinItalic.eot');
    src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
        url('hinItalic.eot?#iefix') format('embedded-opentype'),
        url('hinItalic.woff2') format('woff2'),
        url('hinItalic.woff') format('woff'),
        url('hinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

