@media screen and (min-width: $tabletWidth) {

  .header {
    &__burger {
      display: none;
    }
    &__logo {
      display: flex;
      align-items: center;
      margin-right: 75px;
    }
    &__menu {
      display: block;
      position: static;
      border: none;

      &-links {
        display: flex;

        li {
          font-size: 16px;
          line-height: 26px;

          &:not(:last-child) {
            margin-right: 30px;
          }
          a{
            display: block;
            padding: 0;
          }
        }
      }
    }
  }

  .main {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;

    &__wrap {
      margin: 0 auto;
      background: $main-bg-color;
      max-width: 700px;
      padding: 60px 50px 90px;
      position: relative;
    }

    &__text {
      font-size: 48px;
      line-height: 60px;
      margin-bottom: 14px;
    }

    &__description {
      display: block;
    }


  }
  .advantages {
    padding: 120px 0 115px 0;

    &__title {
      margin-bottom: 20px;
    }

    &__line {
      margin-bottom: 20px;
    }

    &__description {
      margin-bottom: 35px;
    }

    &__item {
      padding-top: 23px;
      padding-left: 25px;
      padding-right: 30px;

      &-icon {
        &-container {
          margin-right: 20px;
        }
      }

      &-content {
        ul {
          padding-left: 20px;
        }

        li {
          line-height: 26px;
        }
      }
    }
  }
  .request {
    padding: 90px 0;

    &__wrap {
      max-width: 1170px;
      margin: 0 auto;
      padding: 60px 70px 40px 70px;

      .container {
        padding: 0;
      }
    }

    &__form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;



      &-description {
        font-size: 14px;
        line-height: 22px;
      }
    }

    &__button {
      width: 305px;
      margin-bottom: 28px;
    }


  }
  .faq {
    padding-top: 120px;
    padding-bottom: 120px;

    &__question {
      &-top {
        align-items: center;
        padding: 15px 20px;
      }

      &-icon {
        margin-right: 30px;
        width: 40px;
        height: 40px;

        span {
          &:nth-child(1) {
            width: 20px;
            height: 2px;
          }

          &:nth-child(2) {
            width: 2px;
            height: 20px;
          }
        }
      }

      &-title {
        font-size: 18px;
        line-height: 24px;
      }

      &-content {
        @at-root .faq__question--open #{&} {
          height: 122px;
        }
        &--padding {
          padding: 35px 100px 35px 90px;
        }
      }
    }
  }
  .footer {




    &__copyright {
      text-align: center;
      font-size: 12px;
      line-height: 20px;
    }
  }
}